# Deep Learning
torch==2.3.0
torchvision==0.18.0

# Data
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.3.2

# Visualization
matplotlib==3.9.0
tqdm==4.66.4

# API
fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.3

# Utils
gdown==5.2.0

# Computer Vision
opencv-python-headless==4.10.0.84